@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

html {
    background-color: #131e28;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
}

#Finance-Viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#totalInput {

    background: none;

    border: 0;
    border-bottom: 1px solid #51bc3d;

    text-align: center;
    color: #fff;
}


#balance-div {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 2rem 0 1rem 0;

    height: 4rem;
    width: 12rem;

    background-color: #000000B5;
    border-radius: 8px;

}
#balance-div > p{
    margin: 0.2rem 0 0.5rem 0;
}

#current-balance-p {
    margin: 0 0 1rem 0;
}

#transactions-div {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

#transactions-adder {
    display: flex;
}

#trash-svg {
    cursor: pointer;

    width: 1.2rem;
    height: 1.2rem;

    margin: 0.1rem 0 0 0.5rem;
}

#add-svg {
    cursor: pointer;

    width: 1.2rem;
    height: 1.2rem;

    margin: 0.1rem 0 0 0.5rem;
}

.main-transaction-amount-class {
    background: none;
    border: none;

    width: 8rem;

    border-bottom: 1px solid #1e94fd;
    text-align: center;

    margin: 0 0 0.7rem 0;

}

.main-select-class {
    border: none;
    border-bottom: 1px solid;

    background-color: #131e28;
    margin: 0 0 0.7rem 0;
}


.white-font {
    color: #FFFFFFCC;
}

.currency-symbol {

    color: #51bc3d;
}

.green-color{
    color: #51bc3d;
    border-color: #51bc3d;
}

.red-color{
    color: #E15050FF;
    border-color: #E15050FF;
}
